body{
    padding: 0;
    margin: 0;
    font-family: 'DotGothic16';
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    
    padding: 10px 10px;   
    background-color: rgba(36, 25, 243, 0.06);
    margin: 3vh 10vw;
    line-height: 1px;
    border-radius: 10px;
    align-self: center;
    
}
@media (max-width:600px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .head{
        display: flex;
        flex-direction: column;
    }
    .header div{
        text-align: center;
    }
}

.head{
    display: flex;
    gap: 10px;
    align-items: center;
   
    justify-content: space-between;
}
.header p{
    font-family: 'Archivo';
    
    
}
.header h1{
    margin-left: 40px;
    margin-right: 40px;
    
}

.content{
    padding: 20px;
}
.content-header{
    text-align: center;
    font-weight: 400;
    font-size: x-large;

}
.content img{
    width: 100%;
    margin-bottom: 60px;
    margin-top: 1px;
}
.content-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
    margin: 0 15px;
    
    
    
}
.images{
    font-family: 'Archivo';
    
    
}
.images img{
    width: 100%;
}
.caption{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-top: 4em;
    text-align:center;
    margin:auto auto;
    margin-top: 100px;
    
}
.footer{
    margin-top: 4em;
    text-align: center;
    margin-bottom: 200px;
    
}

.box{
    display: flex;
    justify-content: center;  
}

.footer-box{
    width: 1.5rem;
    height: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Archivo';
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.3rem;
    font-size: 10px;
}
input{
    background-color:#2419F3;
    color: white;
    width: 14rem;
    border-radius: 8px;
    line-height: 1.5;
}
#skip{
    font-family: 'Archivo';
    color:#2419F3;
    font-size: small;
}
.page-footer{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 0 0 ;
    padding: 10px 24px;
}
#follow{
    font-family: 'Archivo';
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
}
.help{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 12px;
    text-align: left;

}
.money{
    margin-top:1%;
    font-size: 10px;
    text-align: left;
}

